<html>
    <head>
        <title>Welcome!</title>
    </head>
    <body>
        <div>
            <center>
            <h1 id="title" style="border: 10px solid brown; color:333399; width:50%;">Welcome to my site!</h1>
            </center>
        </div>
        <div id="main" style="border: 10px solid brown; width:99%;">
            <center>
            <div id="main1" style="background-color:669933; height:800px; width:20%; float:left;">
                <div><b>Main menu</b></div>
                <button id="button">URL</button>
            </div>
            <div id="main2" style="background-color:FFCC66; height:800px; width:60%; float:left;">
                <h3 id="title"></h3>
                <p id="text"></p>  
            </div>
            <div id="main3" style="background-color:669933; height:800px; width:20%; float:left;">
                <div><b>References</b></div>
            </div>
            <div id="created" style="background-color:#b5dcb3; clear:both">
                <center>
                <i>
                This site is created by <a href="https://www.facebook.com/roman.neomenko">Roman Neomenko</a>
                </i>
                </center>
            </div>
            </center>
         </div>
         <script src="JavaScript/api.js"></script>
    </body>
</html>
